:root {
  --low-coder-bg-gray: rgb(245, 245, 245);
  --low-coder-text-gray: rgb(100, 100, 100);
  --low-coder-border-gray: rgb(200, 200, 200);
  --low-coder-border: 1px solid var(var(--low-coder-border-gray));
}
